---
import { processCaption } from '@/lib/caption-processor'
import GalleryImpl from '@/components/react/Gallery';

export interface Props {
  images: Array<{
    src: ImageMetadata;
    alt?: string;
    caption?: string;
  }>;
  groupCaption?: string;
}

const { images, groupCaption } = Astro.props;

const processedImages = await Promise.all(
  images.map(async (img) => ({
    src: img.src.src,
    alt: img.alt,
    caption: img.caption ? await processCaption(img.caption) : undefined
  }))
);

const processedGroupCaption = groupCaption ? await processCaption(groupCaption) : undefined;
---

<div class="not-prose mb-8">
  <GalleryImpl
    client:load
    images={processedImages} 
    groupCaption={processedGroupCaption}
  />
</div>
