---
// src/components/ImageGalleryWrapper.astro
import { processCaption } from '@/lib/caption-processor'
import ImageGallery from '@/components/ImageGallery.tsx';

export interface Props {
  images: Array<{
    src: ImageMetadata;
    alt?: string;
    caption?: string;
  }>;
  groupCaption?: string;
  id?: string; // Add unique ID for multiple galleries
}

const { images, groupCaption, id } = Astro.props;

const processedImages = await Promise.all(
  images.map(async (img) => ({
    src: img.src.src,
    alt: img.alt,
    caption: img.caption ? await processCaption(img.caption) : undefined
  }))
);

const processedGroupCaption = groupCaption ? await processCaption(groupCaption) : undefined;
---

<div class="not-prose mb-8" id={id}>
  <ImageGallery 
    client:load
    images={processedImages} 
    groupCaption={processedGroupCaption}
  />
</div>
